body{
    font-family: 'Sarabun', sans-serif;

}
h1{
    font-size:60px ;
    color:palevioletred;
}
h2{
    font-size: 50px;
}
.half-width{
    width:40%;
    float:left;
    margin-left:2%;
    padding:3%;
}
img{
    width:100%;
}
button{
    text-decoration: none;
    background-color:palevioletred;
background-image:linear-gradient(45deg ,palevioletred, pink);
padding:10px 10px ;
border-radius: 5px;
color:white;
font-weight:500px;

}
work-area{
width:500px;

}
.one-third-area{
width:25%;
display:inline-block;
margin:2%;
padding:2%;
overflow: auto;

}
.footer-area{
    text-align: center;
}
.mail-id{
    font-size: 30px;
}
#footer-button{
    background-color: palevioletred;
}